<div class="help-title">
    {{ 'shopware.update.help.title'|trans }}
</div>
{{ 'shopware.update.help.support_channel'|trans }}:<br>
<a href="https://forum.shopware.com/" target="_blank">{{ 'shopware.update.help.forum'|trans }}</a><br>
<a href="https://chat.shopware.com/" target="_blank">Discord</a><br>
<a href="tel:{{ 'shopware.update.help.phone_number_call'|trans }}">{{ 'shopware.update.help.phone_number_formatted'|trans }}</a><br>
<a href="mailto:info@shopware.com">{{ 'shopware.update.help.email'|trans }}</a>