<!doctype html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Shopware Recovery</title>

    <link rel="shortcut icon" href="{{ app.request.baseUrl }}/assets/images/favicon.png" type="image/x-icon" />

    <link rel="stylesheet" type="text/css" href="{{ app.request.baseUrl }}/assets/styles/reset.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="{{ app.request.baseUrl }}/assets/styles/fonts.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="{{ app.request.baseUrl }}/assets/styles/icons.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="{{ app.request.baseUrl }}/assets/styles/style.css" media="all"/>
</head>
<body class="auto">
    <header class="header-main">
        <div class="header-main__branding">
            <img class="header-main__logo" src="{{ app.request.baseUrl }}/assets/images/sw-logo-blue.svg" width="148" alt="Shopware">
            <div class="header-main__title">
                INSTALLER
            </div>
        </div>

        <div class="header-main__right">
            <div class="header-main__language-selection">
                <form action="{{ app.request.uri }}" method="get">
                    <label for="language">
                        {{ 'shopware.update.steps.start.languageSelection'|trans }}
                    </label>
                    <div class="select-wrapper language">
                        <img class="language-flag"
                             src="{{ app.request.baseUrl }}/assets/images/flags/{{ app.request.locale }}.svg"
                             alt="{{ app.request.locale }}">
                        <select
                                id="language"
                                name="language"
                                class="language-selection"
                                onchange="this.form.submit();"
                        >
                            {% for baseTag, language in supportedLanguages %}
                                <option
                                        value="{{ baseTag }}"
                                        data-flag="{{ baseTag }}"
                                        {% if app.request.locale == baseTag %}selected{% endif %}>
                                    {{ language.label }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </form>
            </div>
        </div>
    </header>

    <div class="page--wrap">
        <div class="content--wrapper">
            {% set navigationPosition = app.request.attributes.get('step') %}

            <nav class="navigation--main">
                <ul class="navigation--list">
                    <li class="navigation--entry{% if navigationPosition == '0' %} is--active{% endif %}">
                        <span class="navigation--link">{{ 'shopware.update.navigation.start'|trans }}</span>
                    </li>

                    <li class="navigation--entry{% if navigationPosition == '1' %} is--active{% endif %}">
                        <span class="navigation--link">{{ 'shopware.update.navigation.configure_php'|trans }}</span>
                    </li>

                    <li class="navigation--entry{% if navigationPosition == '2' %} is--active{% endif %}">
                        <span class="navigation--link">{{ 'shopware.update.navigation.download'|trans }}</span>
                    </li>

                    <li class="navigation--entry{% if navigationPosition == '3' %} is--active{% endif %}">
                        <span class="navigation--link">{{ 'shopware.update.navigation.requirements'|trans }}</span>
                    </li>

                    <li class="navigation--entry{% if navigationPosition == '3' %} is--active{% endif %}">
                        <span class="navigation--link">{{ 'shopware.update.navigation.license'|trans }}</span>
                    </li>

                    <li class="navigation--entry{% if navigationPosition == '3' %} is--active{% endif %}">
                        <span class="navigation--link">{{ 'shopware.update.navigation.database-configuration'|trans }}</span>
                    </li>

                    <li class="navigation--entry{% if navigationPosition == '3' %} is--active{% endif %}">
                        <span class="navigation--link">{{ 'shopware.update.navigation.database-import'|trans }}</span>
                    </li>

                    <li class="navigation--entry{% if navigationPosition == '3' %} is--active{% endif %}">
                        <span class="navigation--link">{{ 'shopware.update.navigation.configuration'|trans }}</span>
                    </li>

                    <li class="navigation--entry{% if navigationPosition == '3' %} is--active{% endif %}">
                        <span class="navigation--link">{{ 'shopware.update.navigation.finish'|trans }}</span>
                    </li>
                </ul>
            </nav>
            <section class="content--main">
                {% block main %}{% endblock %}
            </section>
        </div>
    </div>
    <div class="footer-main">
        <div class="help-container">
            {% set tooltipContent %}{% include '_help_tooltip.html.twig' %}{% endset %}
            <i class="icon-help"></i>
            <a class="help-badge" href="#" data-tooltip="{{ tooltipContent|e('html_attr') }}">
                {{ 'shopware.update.help.title'|trans }}
            </a>
        </div>
    </div>
    <script>
        const baseUrl = '{{ app.request.baseUrl }}';

        {% if isFlexProject is defined %}
        const isFlexProject = {{ isFlexProject|json_encode|raw }};
        {% endif %}
    </script>
    <script type="application/javascript" src="{{ app.request.baseUrl }}/assets/app.js"></script>
</body>