{% extends "base.html.twig" %}

{% block main %}
    <div class="card__title">
        <h2>{{ 'shopware.update.steps.start.title'|trans }}</h2>
    </div>

    <div class="card__body is--align-center">

        <div class="welcome-illustration">
            <img src="{{ app.request.baseUrl }}/assets/images/welcome.svg" alt="">
        </div>

        <div class="welcome-container">
            <h1 class="welcome-title">{{ 'shopware.update.steps.start.welcomeTitle'|trans }}</h1>

            <p class="welcome-intro-message">{{ 'shopware.update.steps.start.welcomeMessage'|trans }}</p>

        </div>
    </div>

    <div class="card__footer flex-container">
        <a href="{{ url('configure') }}" class="btn btn-primary flex-item flex-right">{{ 'shopware.update.continue'|trans }}</a>
    </div>
{% endblock %}
